// BACKGROUND COLORS
$background-color-1: #FFFFFF;
$background-color-2: #F8F9FC;
$background-color-3: #F8F9FC1A;
$background-color-4: #6DC77A;
$background-color-5: #32C2EC;
$background-color-6: #2ECA8B;
$background-color-7: #00C9A7;
$background-color-8: #F7961C;
$background-color-9: #F17425;
$background-color-10: #FF5B69;
$background-color-11: #17A2B8;
$background-color-12: #766DF4;
$background-color-13: #E43F52;
$background-color-14: #7952B3;
$background-color-15: #0F7173;
$background-color-16: #2F55D41A;
$background-color-17: #2F55D4;
$background-color-18: #3C4858;
$background-color-19: #27314F;
$background-color-20: #202942;

// TEXT COLORS
$text-color-1: #FFFFFF;
$text-color-2: #F8F9FC;
$text-color-3: #ADB5BD;
$text-color-4: #2ECA8B;
$text-color-5: #8492A6;
$text-color-6: #007BFF;
$text-color-7: #E43F52;
$text-color-8: #2F55D4;
$text-color-9: #3C4858;
$text-color-10: #161C2D;
$text-color-11: #000000;

// FILL COLORS
$-fill-color: #FFFFFF;

// BORDER COLORS
$border-color-1: #FFFFFF;
$border-color-2: #F8F9FC1A;
$border-color-3: #E9ECEF;
$border-color-4: #ADB5BD;
$border-color-5: #D55B0E;
$border-color-6: #2F55D41A;
$border-color-7: #2F55D4;
$border-color-8: #3C4858;
$border-color-9: #283353;
$border-color-10: #27314F;